@{
    ViewBag.Title = "Home Page";
}

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <h1>Welcome to Demeter</h1>
        <h2>As the Greek Goddess of Harvest who presides over the fertility of the earth, we at Demeter look forward to the Rebuilding of the Environment after the Bushfire  </h2>
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
</section><!-- #hero -->

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>About Us</h2>
            </div>

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2">
                    <img src="assets/img/about-img.jpg" class="img-fluid" alt="">
                    <a href="http://www.freepik.com">Designed by drobotdean / Freepik</a>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1">
                    <h3>Monash student team</h3>
                    <p class="font-italic">
                        Consists of four people.
                    </p>
                    <ul>
                        <li><i class="icofont-check-circled"></i> Passionate</li>
                        <li><i class="icofont-check-circled"></i> Willing to contribute</li>
                        <li><i class="icofont-check-circled"></i> Make the world better</li>
                    </ul>
                    <p>
                        Lives have been lost, homes and business have been destroyed and thousands of people are stranded or in limbo as fires burn in parts of Victoria.
                        We are here to support the land building after bushfire.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Services</h2>
                <p>Here are some major services we provide for the farmers in Victoria</p>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 icon-box">
                    <div class="icon"><i class="icofont-computer"></i></div>
                    <h4 class="title"><a href="">Bushfire Region</a></h4>
                    <p class="description">An Interactive map showing the nearest Bush Fire affected region</p>
                </div>
                <div class="col-lg-3 col-md-6 icon-box">
                    <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
                    <h4 class="title"><a href="">Statistical Data</a></h4>
                    <p class="description"> An Interactive map created using the statistical data of historical Bushfires</p>
                </div>
                <div class="col-lg-3 col-md-6 icon-box">
                    <div class="icon"><i class="icofont-earth"></i></div>
                    <h4 class="title"><a href="">Feature 3</a></h4>
                    <p class="description">needs to modify</p>
                </div>
                <div class="col-lg-3 col-md-6 icon-box">
                    <div class="icon"><i class="icofont-settings"></i></div>
                    <h4 class="title"><a href="">Feature 4</a></h4>
                    <p class="description">needs to modify</p>
                </div>
              
            </div>

        </div>
    </section><!-- End Services Section -->
   
    <!-- ======= Our Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="section-title">
                <h2>Our Portfolio</h2>
            </div>

            <div class="row portfolio-container">

                <div class="col-lg-4 col-md-6 filter-app">
                    <div class="portfolio-item">
                        <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h3><a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox" title="App 1">App 1</a></h3>
                            <a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="icofont-plus"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 filter-web">
                    <div class="portfolio-item">
                        <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h3><a href="assets/img/portfolio/portfolio-2.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3">Web 3</a></h3>
                            <a href="assets/img/portfolio/portfolio-2.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="icofont-plus"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 filter-app">
                    <div class="portfolio-item">
                        <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h3><a href="assets/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox" title="App 2">App 2</a></h3>
                            <a href="assets/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="icofont-plus"></i></a>
                        </div>
                    </div>
                </div>

             

            </div>

        </div>
    </section><!-- End Our Portfolio Section -->
    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Frequently Asked Questions</h2>
            </div>

            <ul class="faq-list">

                <li>
                    <a data-toggle="collapse" class="" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="icofont-simple-up"></i></a>
                    <div id="faq1" class="collapse show" data-parent=".faq-list">
                        <p>
                            Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                        </p>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq2" class="collapsed">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="icofont-simple-up"></i></a>
                    <div id="faq2" class="collapse" data-parent=".faq-list">
                        <p>
                            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                        </p>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq3" class="collapsed">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="icofont-simple-up"></i></a>
                    <div id="faq3" class="collapse" data-parent=".faq-list">
                        <p>
                            Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                        </p>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq4" class="collapsed">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="icofont-simple-up"></i></a>
                    <div id="faq4" class="collapse" data-parent=".faq-list">
                        <p>
                            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                        </p>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq5" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="icofont-simple-up"></i></a>
                    <div id="faq5" class="collapse" data-parent=".faq-list">
                        <p>
                            Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
                        </p>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq6" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="icofont-simple-up"></i></a>
                    <div id="faq6" class="collapse" data-parent=".faq-list">
                        <p>
                            Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
                        </p>
                    </div>
                </li>

            </ul>

        </div>
    </section><!-- End Frequently Asked Questions Section -->
    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
        <div class="container">

            <div class="section-title">
                <h2>Our Team</h2>
                <p>Consiste of 4 Monash University students</p>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="assets/img/team/team-1.jpg" alt="">
                        <h4>Shri</h4>
                        <span>Master in Network and Security</span>
                        <p>
                           Skilled in Blockchain technology, cloud security principles and Penetration testing. Interested in document writing, bitcoin, security mechanisms and IT Forensics.
                        </p>
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="assets/img/team/team-2.jpg" alt="">
                        <h4>Rachana</h4>
                        <span>Master of Data Science</span>
                        <p>
                           Experienced Data Analyst with a demonstrated history of working in a higher eduation industry. Skilled in Data analysis, visualization, Machine learning, NLP and building Chatbots.
                        </p>
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="assets/img/team/team-3.jpg" alt="">
                        <h4>Sarah</h4>
                        <span>Master of IT</span>
                        <p>
                            Skilled in programming, web development, data analysis. As an individual who is highly motivated and driven, I seek for learning and build meaningful relationship with others as well.
                        </p>
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="assets/img/team/team-4.jpg" alt="">
                        <h4>Joe</h4>
                        <span>Master of BIS</span>
                        <p>
                           Skilled in User story gathering, ERP&Datawarehousing, data processing and visualiszation. I'm seeking for a professional experience in a cross-functional
                            agile development team and making more friends at the same time.
                        </p>
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
    </section><!-- End Our Team Section -->



</main><!-- End #main -->